// Custom styles.
// 鼠标样式
  * {
      cursor: url("../../../uploads/Mouse_Arrow_24px_552079_easyicon.net.ico"),auto!important
  }
  :active {
      cursor: url("../../../uploads/Mouse_Arrow_24px_552079_easyicon.net.ico"),auto!important
  }